absl-py==0.15.0
albumentations==1.3.1
antspyx==0.3.7
anyio==3.6.2
arrow==1.2.3
astunparse==1.6.3
attrs==22.2.0
backcall==0.2.0
boto3==1.26.93
botocore==1.29.93
bravado==11.0.3
bravado-core==5.17.1
cached-property==1.5.2
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
chart-studio==1.1.0
click==8.1.3
colorama==0.4.5
cycler==0.11.0
Cython==3.0.7
debugpy==1.6.7.post1
decorator==5.1.1
entrypoints==0.4
et-xmlfile==1.1.0
fastapi==0.94.1
flatbuffers==1.12
fonttools==4.37.4
fqdn==1.5.1
future==0.18.2
gast==0.3.3
gaussian==0.1
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.12.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==3.4
imageio==2.22.2
importlib-metadata==5.0.0
importlib-resources==5.12.0
imshowpair==0.1.0
ipykernel==6.16.2
ipython==7.34.0
isoduration==20.11.0
jedi==0.19.0
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==4.12.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
LFPy==2.1
LGPy==1.0.2
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
MEAutility==1.5.1
monotonic==1.6
mpi4py==3.1.5
msgpack==1.0.5
natsort==8.2.0
neptune-client==1.0.2
nest-asyncio==1.5.7
networkx==2.6.3
neurite==0.2
neuroplotlib==0.2.1
nibabel==4.0.2
numpy==1.19.5
oauthlib==3.2.1
opencv-contrib-python==4.5.5.62
opencv-python-headless==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
parso==0.8.3
patsy==0.5.3
pbr==5.11.1
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
plotly==5.13.0
prompt-toolkit==3.0.39
protobuf==3.19.6
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.6
Pygments==2.16.1
PyJWT==2.6.0
pynd==0.3.6
pyparsing==3.0.9
pyrsistent==0.19.3
pystrum==0.2
python-dateutil==2.8.2
pytorch-ssim==0.1
pytz==2022.6
PyWavelets==1.3.0
pywin32==306
PyYAML==6.0
pyzmq==25.1.1
qudida==0.0.4
requests==2.28.1
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3987==1.3.8
rsa==4.9
s3transfer==0.6.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
SimpleITK==2.2.1
simplejson==3.18.4
six==1.15.0
sklearn==0.0
smmap==5.0.0
sniffio==1.3.0
starlette==0.26.1
statsmodels==0.13.5
swagger-spec-validator==3.0.3
tenacity==8.2.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2021.11.2
torch==1.13.0+cu116
torchaudio==0.13.0+cu116
torchvision==0.6.0
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
typing_extensions==4.5.0
uri-template==1.2.0
urllib3==1.26.12
voxelmorph==0.2
wcwidth==0.2.6
webcolors==1.12
websocket-client==1.5.1
Werkzeug==2.2.2
wrapt==1.12.1
xlrd==1.2.0
zipp==3.9.0
